In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./test.csv', encoding='euc-kr')
df

           회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)
0     (주)CMG제약   58820  2022/12              NaN
1     (주)DB하이텍     990  2022/12            55.70
2      (주)ES큐브   50120  2022/12            31.78
3     (주)HJ중공업   97230  2022/12             5.40
4     (주)MH에탄올   23150  2022/12            39.07
...        ...     ...      ...              ...
2259   휴림로봇(주)   90710  2022/12            15.82
2260   휴마시스(주)  205470  2022/12            54.30
2261     휴젤(주)  145020  2022/12            77.70
2262   흥구석유(주)   24060  2022/12              NaN
2263   흥아해운(주)    3280  2022/12            25.28

[2264 rows x 4 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   회사명              2264 non-null   object
 1   거래소코드            2264 non-null   int64
 2   회계년도             2264 non-null   object
 3   매출액총이익률(IFRS연결)  1855 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 70.9+ KB

In [6]:
df.isna().sum()

회사명                  0
거래소코드                0
회계년도                 0
매출액총이익률(IFRS연결)    409
dtype: int64

In [7]:
df[df['매출액총이익률(IFRS연결)'].isna()]

             회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)
0       (주)CMG제약   58820  2022/12              NaN
16    (주)갤럭시아에스엠   11420  2022/12              NaN
22       (주)경보제약  214390  2022/12              NaN
24      (주)고려시멘트  198440  2022/12              NaN
30       (주)공구우먼  366030  2022/12              NaN
...          ...     ...      ...              ...
2219     한창산업(주)   79170  2022/12              NaN
2237   현대에이치티(주)   39010  2022/12              NaN
2249     화일약품(주)   61250  2022/12              NaN
2250     화천기계(주)   10660  2022/12              NaN
2262     흥구석유(주)   24060  2022/12              NaN

[409 rows x 4 columns]

In [18]:
df2 = pd.read_csv('./test2.csv', encoding='euc-kr')
df2

           회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
0     (주)CMG제약   58820  2022/12              NaN     5
1     (주)DB하이텍     990  2022/12            55.70     1
2      (주)ES큐브   50120  2022/12            31.78     5
3     (주)HJ중공업   97230  2022/12             5.40     1
4     (주)MH에탄올   23150  2022/12            39.07     1
...        ...     ...      ...              ...   ...
2268   휴림로봇(주)   90710  2022/12            15.82     5
2269   휴마시스(주)  205470  2022/12            54.30     5
2270     휴젤(주)  145020  2022/12            77.70     5
2271   흥구석유(주)   24060  2022/12              NaN     5
2272   흥아해운(주)    3280  2022/12            25.28     1

[2273 rows x 5 columns]

In [19]:
df2.isna().sum()

회사명                  0
거래소코드                0
회계년도                 0
매출액총이익률(IFRS연결)    415
소속코드                 0
dtype: int64

In [20]:
bs = df2[df2['매출액총이익률(IFRS연결)'].isna()]
bs

             회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
0       (주)CMG제약   58820  2022/12              NaN     5
16    (주)갤럭시아에스엠   11420  2022/12              NaN     1
22       (주)경보제약  214390  2022/12              NaN     1
24      (주)고려시멘트  198440  2022/12              NaN     5
30       (주)공구우먼  366030  2022/12              NaN     5
...          ...     ...      ...              ...   ...
2228     한창산업(주)   79170  2022/12              NaN     5
2246   현대에이치티(주)   39010  2022/12              NaN     5
2258     화일약품(주)   61250  2022/12              NaN     5
2259     화천기계(주)   10660  2022/12              NaN     1
2271     흥구석유(주)   24060  2022/12              NaN     5

[415 rows x 5 columns]

In [21]:
bs[bs['소속코드'] == '4']

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 매출액총이익률(IFRS연결), 소속코드]
Index: []

In [16]:
df2[df2['소속코드']==4]

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 매출액총이익률(IFRS연결), 소속코드]
Index: []

In [22]:
df3 = pd.read_csv('./test3.csv', encoding='euc-kr')
df3

            회사명  거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
0      (주)CMG제약  58820  2012/12            28.34     5
1      (주)CMG제약  58820  2013/12            38.70     5
2      (주)CMG제약  58820  2014/12            37.07     5
3      (주)CMG제약  58820  2015/12            36.26     5
4      (주)CMG제약  58820  2016/12            40.36     5
...         ...    ...      ...              ...   ...
24404   흥아해운(주)   3280  2018/12            -0.93     1
24405   흥아해운(주)   3280  2019/12             5.54     1
24406   흥아해운(주)   3280  2020/12             8.26     1
24407   흥아해운(주)   3280  2021/12             6.94     1
24408   흥아해운(주)   3280  2022/12            25.28     1

[24409 rows x 5 columns]

In [25]:
# 개별재무제표만 있는 기업
bs2 = df3[df3['매출액총이익률(IFRS연결)'].isna()]
bs2

             회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
8       (주)CMG제약   58820  2020/12              NaN     5
9       (주)CMG제약   58820  2021/12              NaN     5
10      (주)CMG제약   58820  2022/12              NaN     5
77     (주)SNT에너지  100840  2012/12              NaN     1
78     (주)SNT에너지  100840  2013/12              NaN     1
...          ...     ...      ...              ...   ...
24393    흥구석유(주)   24060  2018/12              NaN     5
24394    흥구석유(주)   24060  2019/12              NaN     5
24395    흥구석유(주)   24060  2020/12              NaN     5
24396    흥구석유(주)   24060  2021/12              NaN     5
24397    흥구석유(주)   24060  2022/12              NaN     5

[7094 rows x 5 columns]

In [34]:
df3[df3['소속코드'] == 4]['소속코드'].value_counts()

소속코드
4    1715
Name: count, dtype: int64

In [29]:
df3[df3['소속코드'] == 4]

            회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
356     (주)구스앤홈  329050  2017/12              NaN     4
357     (주)구스앤홈  329050  2018/12              NaN     4
358     (주)구스앤홈  329050  2019/12              NaN     4
359     (주)구스앤홈  329050  2020/12              NaN     4
464    (주)극동자동화  272420  2014/12              NaN     4
...         ...     ...      ...              ...   ...
24232   현진소재(주)   53660  2017/12              NaN     4
24233   현진소재(주)   53660  2018/12            -7.40     4
24234   현진소재(주)   53660  2019/12           -18.31     4
24235   현진소재(주)   53660  2020/12           -72.69     4
24236   현진소재(주)   53660  2021/12           -21.12     4

[1715 rows x 5 columns]

In [35]:
bs2['소속코드'].value_counts()

소속코드
5    4731
1    1372
4     757
6     208
3      26
Name: count, dtype: int64

In [38]:
len(bs2['회사명'].unique())

1449

In [41]:
len(bs2[bs2['소속코드']==4]['회사명'].unique())

188

In [57]:
kospi = pd.read_csv('./kospi_test.csv', encoding='euc-kr')

In [58]:
fff = kospi[kospi['매출액총이익률(IFRS연결)'].isna()]
fff

            회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
10   (주)갤럭시아에스엠   11420  2022/12              NaN     1
16      (주)경보제약  214390  2022/12              NaN     1
19     (주)광주신세계   37710  2022/12              NaN     1
24     (주)까뮤이앤씨   13700  2022/12              NaN     1
49        (주)대현   16090  2022/12              NaN     1
..          ...     ...      ...              ...   ...
678     한국주강(주)   25890  2022/12              NaN     1
681     한국철강(주)  104700  2022/12              NaN     1
690     한성기업(주)    3680  2022/12              NaN     1
705  한일현대시멘트(주)    6390  2022/12              NaN     1
730     화천기계(주)   10660  2022/12              NaN     1

[91 rows x 5 columns]

In [59]:
fff[fff['소속코드']==4]

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 매출액총이익률(IFRS연결), 소속코드]
Index: []

In [60]:
kosdaq = pd.read_csv('./kosdaq_test.csv', encoding='euc-kr')
kosdaq

             회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
0       (주)CMG제약   58820  2022/12              NaN     5
1        (주)ES큐브   50120  2022/12            31.78     5
2         (주)가비아   79940  2022/12            48.57     5
3        (주)가온칩스  399720  2022/12            26.84     5
4     (주)강스템바이오텍  217730  2022/12            29.89     5
...          ...     ...      ...              ...   ...
1529   휴림네트웍스(주)  192410  2022/12            25.39     5
1530     휴림로봇(주)   90710  2022/12            15.82     5
1531     휴마시스(주)  205470  2022/12            54.30     5
1532       휴젤(주)  145020  2022/12            77.70     5
1533     흥구석유(주)   24060  2022/12              NaN     5

[1534 rows x 5 columns]

In [61]:
ggg = kosdaq[kosdaq['매출액총이익률(IFRS연결)'].isna()]
ggg

            회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
0      (주)CMG제약   58820  2022/12              NaN     5
6      (주)고려시멘트  198440  2022/12              NaN     5
12      (주)공구우먼  366030  2022/12              NaN     5
18     (주)국영지앤엠    6050  2022/12              NaN     5
36       (주)나이벡  138610  2022/12              NaN     5
...         ...     ...      ...              ...   ...
1505  한국정밀기계(주)  101680  2022/12              NaN     5
1519    한창산업(주)   79170  2022/12              NaN     5
1525  현대에이치티(주)   39010  2022/12              NaN     5
1528    화일약품(주)   61250  2022/12              NaN     5
1533    흥구석유(주)   24060  2022/12              NaN     5

[324 rows x 5 columns]

In [62]:
ggg[ggg['소속코드']==4]

                  회사명   거래소코드     회계년도  매출액총이익률(IFRS연결)  소속코드
162   (주)라이프사이언스테크놀로지  285770  2022/12              NaN     4
239        (주)바이오시네틱스  281310  2022/12              NaN     4
480             (주)앙츠  267810  2022/12              NaN     4
798           (주)제이웨이   58420  2022/12              NaN     4
1202         무송지오씨(주)  135160  2022/12              NaN     4
1445          청광건설(주)  140290  2022/12              NaN     4

In [3]:
aaa = pd.read_csv('./0713test.csv', encoding='euc-kr')
aaa

                     회사명   거래소코드     회계년도  내부감사의견코드 감사의견코드
0             (유)그룹세브코리아   13171  2019/12       NaN    NaN
1             (유)그룹세브코리아   13171  2020/12       NaN     UQ
2             (유)그룹세브코리아   13171  2021/12       NaN     UQ
3             (유)그룹세브코리아   13171  2022/12       NaN     UQ
4      (유)디에스브이에어앤씨인터내셔널  104275  2021/12       NaN    NaN
...                  ...     ...      ...       ...    ...
33764          케이케이테크(주)   47800  2018/12       NaN     UQ
33765          케이케이테크(주)   47800  2019/12       NaN     UQ
33766          케이케이테크(주)   47800  2020/12       NaN     UQ
33767          케이케이테크(주)   47800  2021/12       NaN     UQ
33768          케이케이테크(주)   47800  2022/12       NaN     UQ

[33769 rows x 5 columns]

In [9]:
aaa[aaa['회사명'].str.contains('국도')]

              회사명   거래소코드     회계년도  내부감사의견코드 감사의견코드
10749    국도정밀주식회사   13118  2012/12       NaN     UQ
10750    국도정밀주식회사   13118  2013/12       NaN     UQ
10751    국도정밀주식회사   13118  2014/12       NaN     UQ
10752    국도정밀주식회사   13118  2015/12       NaN     UQ
10753    국도정밀주식회사   13118  2016/12       NaN     UQ
10754    국도정밀주식회사   13118  2017/12       NaN     UQ
10755    국도정밀주식회사   13118  2018/12       NaN     UQ
10756    국도정밀주식회사   13118  2019/12       NaN     UQ
10757    국도정밀주식회사   13118  2020/12       NaN     UQ
10758    국도정밀주식회사   13118  2021/12       NaN     UQ
10759  국도첨단소재주식회사  103488  2022/12       NaN     UQ
10760   국도화인켐주식회사   60530  2012/12       NaN     UQ
10761   국도화인켐주식회사   60530  2013/12       NaN     UQ
10762   국도화인켐주식회사   60530  2014/12       NaN     UQ
10763   국도화인켐주식회사   60530  2015/12       NaN     UQ
10764   국도화인켐주식회사   60530  2016/12       NaN     UQ
10765   국도화인켐주식회사   60530  2017/12       NaN     UQ
10766   국도화인켐주식회사   60530  2018/12       NaN     UQ
10767   국도화인켐주식회사   60530  2019/12       NaN     UQ
10768   국도화인켐주식회사   60530  2020/12       NaN     UQ
10769   국도화인켐주식회사   60530  2021/12       NaN     UQ
10770   국도화인켐주식회사   60530  2022/12       NaN     UQ

In [10]:
aaa['감사의견코드'].value_counts()

감사의견코드
UQ    31032
QS      418
DU      229
DS      148
QU       57
QG       54
AG       38
QQ        1
Name: count, dtype: int64